    ErrorDocument 404 /buisinessdiary/404.html

############################################
## enable rewrites
    RewriteOptions inherit
    Options +FollowSymLinks
    RewriteEngine on

    RewriteRule ^contactus contactus.php

    RewriteRule ^myaccount myaccount.php

    RewriteRule ^myplaces myplaces.php

    RewriteRule ^feedback feedback.php

    RewriteRule ^suggestbusiness suggestbus.php

    RewriteRule ^page/([a-z0-9-]+) page.php?identifier=$1

    RewriteRule ^category/([a-z0-9-]+) category.php?identifier=$1

    RewriteRule ^business/([a-z0-9-]+) blist.php?identifier=$1

