    ErrorDocument 404 /buisinessdiary/404.html

############################################
## enable rewrites
    RewriteOptions inherit
    Options +FollowSymLinks
    RewriteEngine on

    RewriteRule ^contactus contactus.php

	RewriteRule ^login-register login-register.php
	
    RewriteRule ^myaccount myaccount.php

    RewriteRule ^changepassword changepassword.php
	
	RewriteRule ^myreview myreview.php

	RewriteRule ^myreview/([a-z0-9-]+)/([a-z0-9-]+) myreview.php?action=$1&id=$2

	RewriteRule ^myfavourite myfavourite.php
	
	RewriteRule ^logout logout.php

    RewriteRule ^feedback feedback.php

    RewriteRule ^quikquote quikquote.php

    RewriteRule ^suggestbusiness suggestbus.php
    
    RewriteRule ^search search.php

    RewriteRule ^page/([a-z0-9-]+) page.php?identifier=$1

    RewriteRule ^category/([a-z0-9-]+) category.php?identifier=$1

	RewriteRule ^list/([a-z0-9-]+) business.php?id=$1

	