    ErrorDocument 404 /buisinessdiary/404.html

############################################
## enable rewrites

    Options +FollowSymLinks
    RewriteEngine on

    RewriteRule ^contactus contactus.php

	RewriteRule ^login-register login-register.php
	
    RewriteRule ^myaccount myaccount.php

    RewriteRule ^account-info account-info.php

	RewriteRule ^myreview myreview.php

    RewriteRule ^review/([A-Za-z-\s0-9]+)/([A-Za-z-\s0-9]+)$ myreview.php?action=$1&id=$2 [L]

    RewriteRule ^favourite/action/([A-Za-z-\s0-9]+)/id/([A-Za-z-\s0-9]+)$ favourite.php?action=$1&id=$2 [L]

    RewriteRule ^wishlist/action/([A-Za-z-\s0-9]+)/id/([A-Za-z-\s0-9]+)$ wishlist.php?action=$1&id=$2 [L]

	RewriteRule ^myfavourite myfavourite.php

	RewriteRule ^mywishlist mywishlist.php
	
	RewriteRule ^logout logout.php

    RewriteRule ^feedback feedback.php

    RewriteRule ^quikquote quikquote.php

    RewriteRule ^suggestbusiness suggestbus.php
    
    RewriteRule ^search search.php

    RewriteRule ^page/([a-z0-9-]+) page.php?identifier=$1

    RewriteRule ^category/([a-z0-9-]+) category.php?identifier=$1

	RewriteRule ^list/([a-z0-9-]+) business.php?id=$1

	