@charset "utf-8";
* { 
	margin:0; 
	padding:0; 
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666;
	text-decoration: none;
	background-attachment: scroll;
	background-color: #FFF;
	background-image: url('../images/body_bg.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
}
.inner-left {
	float: left;
	width: 70%;
	overflow: hidden;
	position: relative;
}
.inner-right {
	float: right;
	width: 20%;
	overflow: hidden;
	position: relative;
}
.slider {
	float: left;	
	width: 100%;	
	position: relative;
	clear:both;
}
a {
	color: #CCCCCC;
	text-decoration:none;
}
a:hover {
	color: #FFF;
	text-decoration: none;
}
.header {
	text-decoration: none;
	overflow: hidden;
	position: relative;
	height: 100px;
	width: 100%;
	cursor: default;
}
.logo {
	margin: 5px;
	clear: both;
	float: left;
	height: 85px;
	width: 250px;
	position: relative;
	display: block;
	border: 1px;
}
.searchbox {
	float: right;
	width: 300px;
	overflow: hidden;
	position: relative;
	background-color: #248EE9;
	height: 35px;
}
.searchinput {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	height: 25px;
	width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-left: 5px;
}
.searchbtn {
	color: #FFF;
	background-color: #CC0A0B;
	overflow: hidden;
	position: relative;
	height: 27px;
	width: 30px;
	top: 1px;
	border: none;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}


.top-links {
	float: right;
	height: auto;
	width: auto;
	overflow: hidden;
	position: relative;
	text-align: right;
}
.top-links ul {
	position: relative;
	text-align: right;
	width:100%;
	list-style-type: none;
}
.top-links ul li{	
	text-align: left;
	width:auto;
	float:left;
	list-style-type: none;
	padding: 0 5px; 
}
.copyright {
	overflow: hidden;
	position: relative;
	height: 25px;
	width: 100%;	
	text-align: center;
	float: left;
	padding-top:5px;
	color: #FFFFFF;
}
.twt-feed {
	padding: 5px 0;
	float: left;
	height: 20px;
	width: 79%;
	overflow: hidden;
	position: relative;
}
.follow-btn {
	padding: 5px;
	float: right;
	height: 15px;
	width: 19%;
	overflow: hidden;
	position: relative;
}
.footer {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}

.nav {
	text-transform: capitalize;
	background-color: #248EE9;
	vertical-align: middle;
	word-spacing: normal;
	white-space: nowrap;
	display: block;
	height: 30px;
	width: 100%;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	position: relative;
	margin: 5px 0;
}
.wrapper .nav ul {
	width: 100%;	
}
.wrapper .nav ul li {
	float: left;
	list-style-image: none;
	list-style-type: none;
	width: auto;
	color: #FFF;
	position: relative;
	padding: 7px 7px 8px 14px;
}
.wrapper .nav ul li.over {
	z-index: 99;
	background-color: #CC0A0B;
}

.main-content {
	overflow: hidden;
	position: relative;
	width: 100%;	
}

.wrapper {
	text-transform: none;
	text-decoration: none;
	background-color: #FFF;
	background-position: center top;
	clear: both;
	width: 1000px;
	margin: 0 auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: hidden;
	position: relative;
	height: inherit;
	float: none;
	padding: 5px 10px 0;
	box-shadow: 0 0 5px #00AFFD;
}
.wrapper .nav ul li a {
	font-weight: bold;
}
.wrapper .nav ul li ul {
	float: left;
	width: 750px;
	position: absolute;
	margin-top: 7px;
	display: block;
	left: 0px;
}
.wrapper .nav ul #menu2 ul li a span {
	display: block;
	padding: 7px;
}


.wrapper .nav ul li ul li {
	background-color: #CC0A0B;	
	height: 26px;
	width: 226px;
	position: relative;
	float: left;
	display: block;
	padding: 0 12px;
}
.wrapper .nav ul li.over {	
	z-index: 99;
}
.wrapper .nav ul li.over a{
	color: #FFF;
}
.wrapper .nav ul li.over ul li a{
	color: #CCCCCC;
	text-decoration: none;
}
.wrapper .nav ul li.over ul li a:hover{
	color: #FFF;
	text-decoration: none;
}
.page-head {
	/* background: url("../images/content-main-heading.png") repeat-x scroll left bottom #FFFFFF;
	padding: 6px 0 6px 10px; 
	border: 1px solid #CCCCCC; */
    color: #0451BD;
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,Sans-Serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: normal;
    margin: 5px 0 3px;    
    text-transform: capitalize;
    clear:both;
}
.home-category{
	position: relative;
	float: left;
	display: block;
	width:100%;
	margin: 10px 0;
}
.home-category h2{
    /*color: #0451BD;*/
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,Sans-Serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: normal;
    margin: 0 0 3px;
    /* padding: 6px 0 6px 10px;
    text-transform: capitalize; */
}
.home-category ul{
	position: relative;
	float: left;
	display: block;
	width:100%;
	style-type:none;	
}
.home-category ul li{	
	float: left;
	display: block;
	width: 31%;
	style-type: none;
	padding: 5px 5px 0;
}	
.home-category ul li h3 {
	background: none repeat scroll 0 0 #E2E2E2;
    border-left: 5px solid #4163C4;
    color: #4D4D4D;
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,Sans-Serif;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: normal;
    margin: 0px 0 5px;
    padding: 3px 0 3px 10px;   
    text-transform: capitalize; 
}
.lang-whether {
	width:700px;
	float:left;
}

/*** Start of scrolling text ***/
div.horizontal_scroller{
	position:relative;
	height:24px;
	width:auto;
	display:block;
	overflow:hidden;	
}
div.scrollingtext{
	position:absolute;
	white-space:nowrap;
	font-family:'Trebuchet MS',Arial;
	font-size:18px;
	font-weight:bold;
	color:#000000;
}
/*** End of scrolling text ***/