@charset "utf-8";
* { 
	margin:0; 
	padding:0; 
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666;
	text-decoration: none;
	background-attachment: scroll;
	background-color: #FFF;
	background-image: url('../images/body_bg.jpg');
	background-repeat: repeat-x;
}
.inner-left {
	float: left;
	width: 79%;
	overflow: hidden;
	position: relative;
}
.inner-right {
	float: right;
	width: 20%;
	overflow: hidden;
	position: relative;
}
.slider {
	float: left;
	height: 300px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
a {
	color: #CCCCCC;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}




.header {
	text-decoration: none;
	overflow: hidden;
	position: relative;
	height: 100px;
	width: 100%;
	cursor: default;
}
.logo {
	margin: 5px;
	clear: both;
	float: left;
	height: 85px;
	width: 250px;
	position: relative;
	display: block;
	border: 1px;
}
.slogan {
	float: left;
	width: 300px;
	margin-left: 10px;
	border-top-color: #D6D6D6;
	border-right-color: #D6D6D6;
	border-bottom-color: #D6D6D6;
	border-left-color: #D6D6D6;
	overflow: hidden;
	position: inherit;
}
.searchbox {
	float: right;
	width: 300px;
	overflow: hidden;
	position: relative;
}
.top-links {
	float: right;
	height: 60px;
	width: 700px;
	overflow: hidden;
	position: relative;
	text-align: right;
}
.copyright {
	overflow: hidden;
	position: relative;
	height: 25px;
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	text-align: center;
	float: left;
	padding-top:5px;
}
.twt-feed {
	padding: 5px;
	float: left;
	height: 20px;
	width: 79%;
	overflow: hidden;
	position: relative;
}
.follow-btn {
	padding: 5px;
	float: right;
	height: 15px;
	width: 19%;
	overflow: hidden;
	position: relative;
}
.footer {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.nav {
	text-transform: capitalize;
	background-color: #66F;
	vertical-align: middle;
	word-spacing: normal;
	white-space: nowrap;
	display: block;
	height: 30px;
	width: 100%;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	overflow: hidden;
	position: relative;
	margin: 5px 0;
}
ul {
	overflow: hidden;
	width: 100%;
}
li {
	float: left;
	height: 30px;
	padding-left: 5px;
	list-style-image: none;
	list-style-type: none;
	overflow: hidden;
	width: auto;
	padding-top: 8px;
	color: #FFF;
}
.main-content {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 650px;
}

.wrapper {
	text-transform: none;
	text-decoration: none;
	background-color: #FFF;
	background-position: center top;
	clear: both;
	width: 1000px;
	margin: 0 auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: hidden;
	position: relative;
	height: inherit;
	float: none;
	padding: 10px 10px 0;
}
