<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>{$title}</title>
		<link rel="icon" href="http://localhost/industrialdiary/cpanel/design/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="http://localhost/industrialdiary/cpanel/design/favicon.ico" type="image/x-icon"/>		
		<link rel="stylesheet" type="text/css" href="http://localhost/industrialdiary/cpanel/design/css/styles.css">		
		<script type="text/javascript" src="http://localhost/industrialdiary/cpanel/design/js/myfile.js" ></script>
	</head>
<body>
	{$contents}
	<hr/>
	<div class="center"><small>&copy;2013 Business Diary. All rights reserved.</small></div>
</body>
</html>