<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{include file='head.tpl'}
</head>
<body>
  <div class="wrapper">	
    <div class="header">
        {include file='header.tpl'}	
`	</div>
	<div align="center">
		<iframe src="http://www.beatthenifty.com/widget/widgetTwo" width="100%" height="42" frameborder="0" target="_blank"></iframe>
	</div>
    <div class="main-content">        	
	    {include file='content.tpl'}
    </div>    
  </div>
  <div class="footer">
  	{include file='footer.tpl'}            
  </div>
  <div class="copyright">Copyright &copy; 2013 Business Diary. All rights reserved.</div>  
</body>
</html>
