<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Buisiness Diary - Search, find anything in the heart of the city</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<link href="design/css/styles.css" rel="stylesheet" type="text/css" />
<link href="design/css/slider.css" rel="stylesheet" type="text/css" />  
<script type="text/javascript" src="design/js/jquery.min.js"></script>
<script type="text/javascript" src="design/js/jquery.slides.min.js"></script>
<script type="text/javascript" src="design/js/jquery-scroller.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#slides').slidesjs({
			width: 940,
			height: 350,
			play: {
			  active: true,
			  auto: true,
			  interval: 4000,
			  swap: true
			}
		});
	  
		// create scroller for each element with "horizontal_scroller" class...
		$('.horizontal_scroller').SetScroller({	
			velocity: 	 60,
			direction: 	 'horizontal',
			startfrom: 	 'right',
			loop:		 'infinite',
			movetype: 	 'linear',
			onmouseover: 'pause',
			onmouseout:  'play',
			onstartup: 	 'play',
			cursor: 	 'pointer'
		});
    });
	
	function collapse(id,classname){	
		$(id).removeClass(classname);
			$('.wrapper .nav ul li ul').css('display', 'none');
	}
	function expand(id,classname){
		$(id).addClass(classname);
		$('.wrapper .nav ul li.over ul').css('display', 'block');
	}
</script>
</head>
<body>
  <div class="wrapper">	
    <div class="header">
        <div class="logo">
			<img alt="Buisiness Diary" src="http://localhost/buisinessdiary/design/images/logo.png" height="85" width="250"/>
		</div>
        <div class="top-links">        
        	<ul>
        		<li>Welcome Guest</li><li>|</li>
        		<li><a href="#">Login</a></li><li>|</li>
        		<li><a href="#">Register</a></li><li>|</li>
        		<li><a href="#">My Account</a></li><li>|</li>
        		<li><a href="#">My Places</a></li>
        	</ul>
        </div>
        <div class="lang-whether"></div>
        <div class="searchbox">
        	<form method="post" action="">
        		<input class="searchinput" type="text" name="postcode" value="Enter your postcode or state or city" onfocus="if(this.value=='Enter your postcode or state or city')this.value='';" onblur="if(this.value=='')this.value='Enter your postcode or state or city';" />
        		<input class="searchinput" type="text" name="keyword" value="Enter keyword looking for" onfocus="if(this.value=='Enter keyword looking for')this.value='';" onblur="if(this.value=='')this.value='Enter keyword looking for';"/>
                <button class="searchbtn" type="submit" name="submit">Go</button>
            </form>
        </div>
    </div>
    <div class="nav">
    	<ul>
			<li id="menu1" onmouseover="expand(this,'over')" onmouseout="collapse(this,'over')">
            	<a href="#">Home</a>
            </li>
            <li id="menu1" onmouseover="expand(this,'over')" onmouseout="collapse(this,'over')">
            	<a href="#">About Us</a>
            </li>
            <li id="menu2" onmouseover="expand(this,'over')" onmouseout="collapse(this,'over')">
            	<a href="#">Categories</a>            	
                <ul style="display:none;">                	
	                <li><a href="#"><span>Accomodation</span></a></li>
	        		<li><a href="#"><span>Adult</span></a></li>
	        		<li><a href="#"><span>Automotive</span></a></li>
	        		<li><a href="#"><span>Domestic Services</span></a></li>
	        		<li><a href="#"><span>Education & Learning</span></a></li>
	        		<li><a href="#"><span>Entertainment</span></a></li>
	        		<li><a href="#"><span>Event Organisation</span></a></li>
	        		<li><a href="#"><span>Financial Services</span></a></li>
	        		<li><a href="#"><span>Food & Beverages</span></a></li>
	        		<li><a href="#"><span>Government</span></a></li>
	        		<li><a href="#"><span>Hair & Beauty</span></a></li>
	        		<li><a href="#"><span>Manufacturing & Agriculture</span></a></li>
	        		<li><a href="#"><span>Media & Communication</span></a></li>
	        		<li><a href="#"><span>Medical</span></a></li>
	        		<li><a href="#"><span>Pets</span></a></li>
	        		<li><a href="#"><span>Professional Services</span></a></li>
	        		<li><a href="#"><span>Religion</span></a></li>
	        		<li><a href="#"><span>Restaurants</span></a></li>
	        		<li><a href="#"><span>Retail Shopping</span></a></li>
	        		<li><a href="#"><span>Sports & Recreation</span></a></li>
	        		<li><a href="#"><span>Trades</span></a></li>
	        		<li><a href="#"><span>Travel & Transport</span></a></li>
	        		<li><a href="#"><span>Retail Shopping</span></a></li>
	        		<li><a href="#"><span>Utilities</span></a></li>
                </ul>
            </li>
            <li id="menu3" onmouseover="expand(this,'over')" onmouseout="collapse(this,'over')">
            	<a href="#">Services</a>
            </li>
            <li id="menu3" onmouseover="expand(this,'over')" onmouseout="collapse(this,'over')">
            	<a href="#">Suggest buisiness</a>
            </li>
            <li id="menu3" onmouseover="expand(this,'over')" onmouseout="collapse(this,'over')">
            	<a href="#">Faq</a>
            </li>
            <li id="menu3" onmouseover="expand(this,'over')" onmouseout="collapse(this,'over')">
            	<a href="#">Feedback</a>
            </li>
		</ul>	
`	</div>
	<div align="center" style="padding:0 0 5px 0;">
		<div class="horizontal_scroller">
			<div class="scrollingtext">
				This is a simple scrolling text!
			</div>
		</div>
	</div>
    <div class="main-content">        	
	    <div class="inner-left">
	        <div class="slider">			
				<div id="slides">
				  <img src="design/images/example-slide-1.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
				  <img src="design/images/example-slide-2.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
				  <img src="design/images/example-slide-3.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/">
				  <img src="design/images/example-slide-4.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
				</div>  
			</div>
			<p>&nbsp;</p>		
			<h1 class="page-head">Welcome to Buisiness diary - Search find anything</h1>
			<p>
				Buisiness diary is designed for the individual to help them to find about the best samll buisiness of their needs like shop, restaurant etc, famous places of which information is not generally avaiable or which are not globally famous but they has their own inmportance.<br/><br/> 
			 	Idea behind buiiness diary is to help the small and mid level buisiness to help them to grow and makes them available to each small and large doors.<br/> <br/>There is lot of information available online so we have categories and formulated the information in easily understandable format and makes it available to you. 
			</p>
	        <div class="home-category">
	        	<h2>Browse by category</h2>
	        	<ul>
	        		<li><h3>Accomodation</h3></li>
	        		<li><h3>Adult</h3></li>
	        		<li><h3>Automotive</h3></li>
	        		<li><h3>Domestic Services</h3></li>
	        		<li><h3>Education & Learning</h3></li>
	        		<li><h3>Entertainment</h3></li>
	        		<li><h3>Event Organisation</h3></li>
	        		<li><h3>Financial Services</h3></li>
	        		<li><h3>Food & Beverages</h3></li>
	        		<li><h3>Government</h3></li>
	        		<li><h3>Hair & Beauty</h3></li>
	        		<li><h3>Manufacturing & Agriculture</h3></li>
	        		<li><h3>Media & Communication</h3></li>
	        		<li><h3>Medical</h3></li>
	        		<li><h3>Pets</h3></li>
	        		<li><h3>Professional Services</h3></li>
	        		<li><h3>Religion</h3></li>
	        		<li><h3>Restaurants</h3></li>
	        		<li><h3>Retail Shopping</h3></li>
	        		<li><h3>Sports & Recreation</h3></li>
	        		<li><h3>Trades</h3></li>
	        		<li><h3>Travel & Transport</h3></li>
	        		<li><h3>Retail Shopping</h3></li>
	        		<li><h3>Utilities</h3></li>
	        	</ul>
	        </div>
	        <h2>Latest on buisiness diary</h2>	
	    </div>
	    <div class="inner-right">
	    	<div class="ads-promotion">
	    		<h2>Hurry, Get Address by People</h2>
	    		Get more buisiness online by promoting and dvertiding with us.
	    		For quick quote <a href="http://localhost/buisinessdiary/quikquote">clik here</a>.
	    	</div>
	    	<div class="ads-promotion">
	    		<h2>Quick add listing</h2>
	    		<form action="" method="post">
		    		<table>
			    		<tr><td>Company</td><td><input type="text" name="comapnyname" value=""/></td></tr>
			    		<tr><td>Information</td><td><textarea name="moreinfo"> </textarea></td></tr>
			    		<tr><td>Address</td><td><textarea name="address"> </textarea></td></tr>
			    		<tr><td>City</td><td><input type="text" name="city" value=""/></td></tr>
			    		<tr><td>State</td><td><input type="text" name="state" value=""/></td></tr>
			    		<tr><td>Country</td><td><input type="text" name="country" value=""/></td></tr>
			    		<tr><td>Postcode</td><td><input type="text" name="state" value=""/></td></tr>
			    		<tr><td>Telephone</td><td><input type="text" name="state" value=""/></td></tr>
			    		<tr><td>Fax</td><td><input type="text" name="state" value=""/></td></tr>
			    		<tr><td></td><td><button>Submit</button></td></tr>
		    		</table>		    		 
	    		</form>
	    	</div>
	    	<div class="newsletter">
	    		Sign up for newsletter to get information about latest news and offer.
	    		<form action="" method="post">
	    			<label>Email</label><input type="text" name="email" value=""/>
	    			<button>Submit</button>
	    		</form> 
	    	</div>
	    	<div class="facebook-like-box">
	    		<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=106386496121584";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<div class="fb-like-box" data-href="https://www.facebook.com/businessdiaryin" data-width="295" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
	    	</div>	
	    </div>
    </div>    
  </div>
  <div class="footer">
  	<div class="footer-block">
  		<h3>Local Services</h3>
  		<ul>  			
  			<li><a>Automotive</a></li>
  			<li><a>Doctors</a></li>
  			<li><a>Electricians</a></li>
  			<li><a>Entertainments</a></li>
  			<li><a>Hairdressers</a></li>
  			<li><a>Pharmacy</a></li>
  			<li><a>Resturants</a></li>
  			<li><a>Schools</a></li>
  		</ul>
  	</div>
  	<div class="footer-block">
  		<h3>Going Out</h3>
  		<ul>
  			<li><a>Accomodation</a></li>
  			<li><a>Banks / ATM</a></li>
  			<li><a>Tours and Travels</a></li>
  			<li><a>Movers and Packers</a></li>
  			<li><a>Beauty Salons</a></li>  			
  		</ul>
  	</div>
  	<div class="footer-block">
  		<h3>Account / Places</h3>
  		<ul>
  			<li><a>Login / Register</a></li>
  			<li><a>My Account</a></li>
  			<li><a>My Places</a></li>
  			<li><a>My Reviews</a></li>
  			<li><a>Recent History</a></li>
  		</ul>
  	</div>
  	<div class="footer-block">
  		<h3>Customer Services</h3>
  		<ul>
  			<li><a>Add Listing</a></li>
  			<li><a>Suggest Listing</a></li>
  			<li><a>Promote Buisiness</a></li>
  			<li><a>Review Management</a></li>  			
  		</ul>
  	</div>  	
  	<div class="footer-block">
  		<h3>Follow Us On</h3>
  		<ul>
  			<li>
  				<a href="https://www.facebook.com/businessdiaryin" target="_blank"><img src="design/images/facebook.png"/></a>
  				<img src="design/images/twitter.png" />
  				<img src="design/images/googleplus.png" />
  				<img src="design/images/linkedin.png" />
  			</li>  			
  		</ul>
  		<h3>Contact Us</h3>
  		<ul>	
  			<li>H/N 118A, Indira Nagar<br>Behind T. B. Ward Hospital</br>Nagpur, Maharashtra, India - 440003</li>
  			<li>M: help@buisinessdiary.in</li>
  			<li>P: 0712-2742728 &nbsp; F: 0712-2742728</li>  			
  		</ul>
  	</div>            
  </div>
  <div class="copyright">Copyright &copy; 2013 Buisiness Diary. All rights reserved.</div>  
</body>
</html>
