<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Two Coloumn Left</title>
<link href="http://localhost/buisinessdiary/design/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="wrapper">	
    <div class="header">
        <div class="logo">Logo</div>
        <div class="top-links">Top Links</div>    
        <div class="slogan">Slogan</div>
        <div class="searchbox">Search</div>
    </div>
    <div class="nav">
    	<ul><li><a href="#">Menu1</a></li><li><a href="#">Menu2</a></li><li><a href="#">Menu3</a></li></ul>
    </div>
    <div class="main-content">    
    <div class="inner-left">
        <div class="slider">Slider</div>
        <div>Details</div>    	
    </div>
    <div cl class="inner-right">Promotions</div>
    </div>
    <div class="footer">
        <div class="twt-feed">Twitter Feed</div>
        <div class="follow-btn">Follow Buttons</div>
        <div class="copyright">Copyrights</div>
    </div>
  </div>  
</body>
</html>
